.App {
  display: flex;
  justify-content: flex-start;
}


.big-box {
  background-color: blue;
  height: 500px;
  width: 500px;
  margin: 10px;
}

.small-box{
  width: 50%;
  height: 50%;
  background-color: black;
  transition: transform 1s ease-in-out;
}

.small-box:hover{
  transform: translate(100%, 100%)
}

.small-box-two{
  width:50%;
  height:50%;
  background-color: black;
  animation-name: my-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  /* animation-fill-mode: forwards; */
}

.small-box-three{
  position: relative;
  top: 25%;
  left: 25%;
  width:50%;
  height:50%;
  background-color: orange;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
}

.pause{
  animation-play-state: paused;
}

@keyframes spin{
  from{
    transform: rotate(0deg)
  }
  to{
    transform: rotate(360deg)
  }
}

@keyframes my-animation {
  0%{
    transform: translate(0%) rotate(0deg);
  }
  25%{
    transform: translate(0%, 100%) rotate(90deg)
  }
  50%{
    transform: translate(100%, 100%) rotate(180deg);
    border-radius: 50%;
  }
  75%{
    transform: translate(100%,0%) rotate(270deg)
  }
  100%{
    transform: translate(0%) rotate(360deg)
  }
  /* from{

  }
  to{
    
  } */
}

@media(max-width: 1000px){
  .App{
    background-color: pink;
  }
}

@media(max-width: 1600px){
  .big-box{
    height: 250px;
    width: 250px;
  }
}